/*Pour la police d'écriture google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lugrasimo&family=Old+Standard+TT:wght@700&family=Qwitcher+Grypen:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}

body{
    background-color:whitesmoke;
}
span {
    color: #fc0606;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
header .logo {
    color: #ea1f33;
    font-size: 25px;
    font-weight: bold;
}
header .logo span {
    color: #000;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    transition: 0.2s;
}
.menu li a:hover {
    color: #ea1f33;
}
header button {
    background-color: #ea1f33;
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    background-image:url(images/pexels-cottonbro-studio-8721342.jpg);
    background-size:cover;
    background-position:center;
    height:40rem;
    color: white;
    justify-content:center;
    text-align:center;
    padding-top:2em;
    margin-top:4rem;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    height:5rem;
    color:black;
    justify-content:center;
    text-align:center;
    padding-top:2em;
    margin-top:3rem;
}

.titre{
    font-size:5rem;
    justify-content:center;
    text-align:center;
}
p{
    font-size:2rem;
}

footer {
    text-align: center;
    color:black;
    margin-top:2rem;
    font-size: 14px;
}

/*texte ajouté pour arrangé le code */
.blue-column {
    color:blue;
    font-size:1.5rem;
}

.red-text {
    color: red;
    font-size: 1.5rem;
    text-align:center;
}

.container {
    max-width: 1140px; /* Ajustez la largeur comme nécessaire */
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text-center {
    text-align: center;
}

.mt-1, .mt-2 {
    margin-top: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.btn-outline-info {
    font-size:1.2rem;
}

ul {
    padding-left:-rem;
}

